{% extends 'base.html' %}
{% block title %}
	Points for Challenges
{% endblock %}
{% block content %}
<div class="container theme-showcase panel panel-default panel-group" id="accordion">
  <h1>Earn Points With These Challenges</h1>
  {% for problem in problems %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ problem.id }}">
        {{ problem.title }}</a>
      </h4>
    </div>
    <div id="collapse{{ problem.id }}" class="panel-collapse collapse in">
      <div class="panel-body">{{ problem.content }}</div>
    </div>
  </div>
  {% endfor %}
</div> 
{% endblock %}
