<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Brief Background
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <ul>
          <li>Former Marine Infantryman</li>
          <li>Recent graduate in Computer Science with minor in Mathematics from MSUD</li>
          <li>Been working in tech industry for about 3 years</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Caesar Cipher
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <ul>
          <li>Used by Julius Caesar around 50 BC for military communications</li>
          <li>It is a shift cipher where letters are rotated to a certain degree based on the key.  The key tells how many letters to shift to create the cipher text</li>
          <li>ROT 13 is a widely known cipher using the same algortithm as the Caesar Cipher, but only allows shift of 13</li>
          <li>Can be broken easily with word analysis.  Think about the frequency of each letter used in our language.  Hint: Vowels are highest.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Vegenere
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        <ul>
          <li>Uses Caesar Ciphere / Character Rotation</li>
          <li>Not susceptible to character analysis like Caesar Cipher is</ul>
          <li>Enigma Machine / Imitation Game Movie</li>
        </ul>
      </div>
    </div>
  </div>  
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Euclid / RSA / Public Key Cryptography
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        <ul>
          <li>Euclid developed an algorithm for finding the Greatest Common Devisior of any prime number in 300 BC</li>
          <li>Today we are still using that algorithm for our most used cryptographic algorithms today, RSA</ul>
          <li>Amount of computing power needed to break these codes is astronomical, literally</li>
        </ul>
      </div>
    </div>
  </div>
</div>